.whatAwaitsYou > h1{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 134.8%;
    letter-spacing: 0.055em;
}
.whatAwaitsYouItemWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (max-width: 650px) {
    .whatAwaitsYou > h1{
        font-size: 30px;
    }
}

@media (max-width: 340px) {
    .whatAwaitsYou > h1{
        font-size: 22px;
    }
    .whatAwaitsYouItemWrapper {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
     }
}