*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.developerPage > * {
    padding-left: 5vmax;
    padding-right: 5vmax;
}

@media (max-width: 340px) {
    .developerPage > *{
        padding-left: 10px;
        padding-right: 10px;
     }
}